@import '../../shared';

.counter {
    display: flex;
    align-items: flex-end;

    &__button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background-color: $dove-gray;
        color: $cornflower;
        font-size: 1.5rem;  

        &--plus {
            margin-left: -20px;
        }

        &--minus {
            margin-right: -20px;
            z-index: 1;    
        }

        &:hover {
            background-color: $tundora;
            color: $cornflower;
        }

        &:outline {
            outline: none;
        }
    }
}