@import '../../shared';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $mine-shaft;
  color: $cornflower;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}