@import '../../shared';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $mine-shaft;
  color: $cornflower;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  align-items: flex-end;

  &__button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $dove-gray;
    color: $cornflower;
    font-size: 1.5rem;  

    &:hover {
      background-color: $tundora;
      color: $cornflower;
    }

    &:outline {
      outline: none;
    }
  }

  &__count {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mine-shaft;  
  }

  &__counter {
    &--plus {
      margin-left: -20px;
    }

    &--minus {
      margin-right: -20px;
      z-index: 1;    
    }
  }
}