@import '../../shared';

.count {
    background-color: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mine-shaft; 
    
    h1 {
        font-size: rem(60px);
    }
}