@use 'sass:math';

//* Function: rem()
//* DESCRIPTION: px -> rem conversion
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

// COLORS
$cornflower: #D9D9D9;
$mine-shaft: #262626;
$dove-gray: #737373;
$tundora: #404040;



